table td{
   width: 150px;
   height: 20px;
   background-color: white;
}
div.box {
   margin-top: 0px;
   text-align: center;
   width: 500px;
   height: 300px;
   box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
   background-color: black;
}