div.Chat {
    margin-top: 20px;
    width: 1000px;
    height: 400px;
    background-color: rgba(255,255,255, 0.5);
    border-style: solid;
}

div.Keyboard {
    margin-top: 5px;
    width: 1300px;
    height: 200px;
    background-color: rgba(255,255,255, 0.5);
    border-style: solid;
}

div.Emojis {
    margin-top: -608px;
    margin-left: 1010px;
    width: 490px;
    height: 400px;
    background-color:rgba(255,255,255, 0.5);
    border-style: solid;
}

div.DivButton {
    margin-top: -200px;
    margin-left: 1310px;
}

textarea.TextArea {
    width: 1295px;
    height: 194px;
}

button.SendButton {
    width: 195px;
    height: 194px;
}

p.Message {
    font-size: 30px;
}

textarea::placeholder {
    font-size: 40px;
}