div.Image {
    margin-left: 0px;
}

div.Wrapper {
    background-color: bisque;
    width: 1200px;
    height: 550px;
    margin-left: 150px;
}

div.Info {
    margin-left:400px;
    margin-top: -350px;
    background-color: blue;
    width: 600px;
}

div.AboutMe {
    margin-top: 20px;
    margin-left: 20px;
    width: 630px;
    height: 250px;
    background-color: red;
    font-size: x-large;
    word-wrap: break-word;
}

div.Friends {
    background-color: pink;
    margin-left: 700px;
    width: 400px;
    height: 250px;
    margin-top: -290px;
}

img.ProfilePic {
    width: 300px;
    height: 250px;
}

h1.ProfileHeading {
    margin-top: 0px;
    margin-bottom: 0px;
}

h2.Friends {
    text-align: center;
    font-size: 50px;
}

table.InfoTable {
    height: 100px;
    width: 500px;
    text-align: center;
    font-size: x-large;
    border-collapse: collapse;
}

table.InfoTable, td, tr {
    border: 0px;
    width: 600px;
    margin-left: 0px;;
    border-right: solid 1px black; 
    border-left: solid 1px black;
}

table.FriendsTable {

}