div.Image {
    margin-left: 0px;
}

div.Wrapper {
    background-color: bisque;
    width: 1200px;
    height: 560px;
    margin-left: 150px;
}

div.Info {
    margin-left:400px;
    margin-top: -290px;
    width: 600px;
}

div.AboutMe {
    margin-top: -30px;
    margin-left: 20px;
    width: 630px;
    height: 250px;
    font-size: x-large;
    word-wrap: break-word;
}

div.Friends {
    margin-left: 700px;
    width: 400px;
    height: 250px;
    margin-top: -290px;
}

img.ProfilePic {
    width: 300px;
    height: 250px;
    margin-top: 20px;
    margin-left: 20px;
}

h1.ProfileHeading {
    margin-top: 0px;
    margin-bottom: 0px;
}

h2 {
    text-align: center;
    font-size: 50px;
}

h2.PersonalInfo{
    margin-top: 10px
}

table.InfoTable {
    margin-top: -50px;
    width: 500px;
    text-align: center;
    font-size: 23px;
}

table.InfoTable, td, tr {
    border: 0px;
    width: 600px;
    margin-left: 0px;;
}

table.FriendsTable {
    margin-left: 100px;
    margin-top: -30px;
    font-size: x-large;
    border-spacing: 10px;
    text-align: center;
}