div.WraperLogin {
    margin-top: 120px;
    margin-left: 450px;
}

table.LoginTable {
    background-color:rgba(255, 255, 255, 0.3);
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
    width: 600px;
    height: 400px;
    font-size: xx-large;
    box-shadow: rgba(0,0,0, 1.56) 10px 22px 70px 20px;
}

table.LoginTable button {
    width: 70%;
    height: 50%;
    font-size: 30px;
    background-color: rgba(255,255,255, 0.6);
    margin-left: 10px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

input {
    width: 300px;
    height: 50px;
}

table.LoginTable, th, td {
    border: 1px solid black;
}