div.WraperRegister {
    margin-top: 10px;
    margin-left: 135px;
}

table.RegisterTable {
    background-color:rgba(255, 255, 255, 0.3);
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
    width: 1200px;
    height: 650px;
    font-size: xx-large;
    box-shadow: rgba(0, 0, 0, 1.56) 10px 22px 70px 20px;
}

table.RegisterTable button {
    width: 99%;
    height: 99%;
    font-size: 50px;
    background-color: rgba(255,255,255, 0.6);
    margin-left: 0px;
    margin-bottom: 0px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

input {
    width: 300px;
    height: 50px;
}

table.RegisterTable, th, td {
    border: 1px solid black;
}

select.Breed{
    width: 300px;
    height: 50px;
    font-size: 30px;
}